* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      background-color: #1e1e1e;
      color: #fff;
      line-height: 1.6;
      

    }

    header {
      background-color: #111;
      padding: 20px 0;
      text-align: center;
    }

    h1 {
      text-align: center;
      margin: 2%;
    }

    .conteiner {
      display: flex;
      gap: 10%;
      justify-content: center;
      
    }

    .filha {
      width: 20%;
      border-radius: 5%;
      
    }

    #bloco1 {
      background: #b90000;
    }

    #bloco2 {
      background: #e67a00;
    }

    #bloco3 {
      background: #27c400;
    }


    .tarefas {
      margin: 20px;
      min-height: 120px;
    border: 2px dashed #ccc;
    padding: 10px;
    list-style: none;
    }

    li {
  background: #eee;
  color: #000;
  margin: 5px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

li span {
  flex: 1;
}

button {
  margin-left: 5px;
  cursor: pointer;
}
